@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Todo.ViewModels.ToDoListViewModel
@{
    ViewData["Title"] = "TODO List";
    ViewData["UserName"] = Model.IdentityUser.UserName;
    ViewData["UserId"] = Model.IdentityUser.Id; 
    Layout = "_LoggedInLayout";
}

<h1>Welcome, @Model.IdentityUser.UserName</h1>
<div class="container">
    @await Html.PartialAsync("NewToDoItemPartial",
                        new Todo.ViewModels.ToDoItemViewModel { UserId = Model.IdentityUser.Id })
    @await Html.PartialAsync("DeleteToDoItemPartial")
    @await Html.PartialAsync("EditToDoItemPartial",
                    new Todo.ViewModels.ToDoItemViewModel { UserId = Model.IdentityUser.Id })
    <div class="row">
        @if (Model.ToDoItems.Count == 0)
        {
            <div>
                <a href="#" id="showNewForm" class="btn btn-outline-success"><i class="fa fa-plus-square"></i>   New Item</a>
            </div>
        }
        else
        {
            <div class="col-sm-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Title")
                            </th>
                            <th>
                                @Html.DisplayName("Status")
                            </th>
                            <th>
                                <div>
                                    <a href="#" id="showNewForm" class="btn btn-outline-success"><i class="fa fa-plus-square"></i>   New Item</a>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ToDoItems)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @if (item.Finished)
                                    {
                                        <span style="color:green;">Done!</span>
                                    }
                                    else
                                    {
                                        <span style="color:red;">Unfinished</span>
                                    }
                                </td>
                                <td>
                                    <a href="#"><i name="editItem" data-itemid="@item.ItemId" data-title="@item.Title" data-id="@item.ItemId" class="fa fa-pencil-square-o fa-lg" aria-hidden="true" style="color:green;"></i></a>
                                    <a href="#"><i name="deleteItem" data-id="@item.ItemId" class="fa fa-trash fa-lg" aria-hidden="true" style="color:red;"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/ListUI.js"></script>
}
<script>
    @*$("#showNewForm").click(function (e) {
        e.preventDefault();
        $("#modalDialog").modal('show');
    });
    $("i[name='editItem']").click(function (event) {

        var $target = $(event.target);
        var title = $target.data("title");
        var itemId = $target.data("itemid");

        $("#EditTitleTextBox").val(title);
        $("#EditItemId").val(itemId);
        $("#editItemModalDialog").modal('show');
    });
    $("i[name='deleteItem']").click(function (event) {
        var $target = $(event.target);
        var id = $target.data("id");
        $("#deleteItemModalDialog").modal('show');
        $("#deleteToDoItem").click(function () {
            var data = { itemId: id };
            $.ajax({
                url: '@Url.Action("Delete", "Account")',
                data: data,
                contentType: 'application/x-www-form-urlencoded',
                type: 'POST',
                success: function (response) {
                    location.reload();
                }
            });
        });
    });*@
</script>
